body {
    text-align: center;
    background-color: #B2AC88;
}
table {
    border: 2px;
    table-layout: auto;
    align-items: baseline;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  h3 {
      font-size: 20px;
  }
  
